<%= simple_form_for @cards do |f| %>

  <% if @cards.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@cards.errors.count, "error") %> prohibited
        this card from being saved:
      </h2>
      <ul>
        <% @cards.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.input :original_text %>
  <%= f.input :translated_text %>
  <%= f.submit "Save" %>
<% end %>