<%= form_for @cards do |f| %>
 
  <% if @cards.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@cards.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @cards.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :original_text %><br>
    <%= f.text_field :original_text %>
  </p>
 
  <p>
    <%= f.label :tranlated_text %><br>
    <%= f.text_area :tranlated_text %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>