
<h2>Here you can see all cards</h2>

<% @cards.each do |card| %>
  <table>
    <tr>
      <td><span class="select">Original: </span><%= card.original_text %></td>
    </tr>

    <tr>
      <td><span class="select">Translation: </span><%= card.translated_text %></td>
    </tr>  

    <tr>
      <td><span class="select">Review date: </span><%= card.review_date%></td>
    </tr> 
    </table> 
      <td><%= link_to 'Show', card_path(card)%></td>
      <td><%= link_to 'Edit', edit_card_path(card) %></td>
      <td><%= link_to 'Destroy', card_path(card),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    <br>
    <br>
<% end %>