<!DOCTYPE html>
<html>
<head>
  <title>Флэшкарточкер</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
        <ul class="nav pull-left">
           <h1>Флэшкарточкер</h1>
        </ul>
      
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Все карточки",    '#' %></li>
          <li><%= link_to "Добавить карточку",    '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<%= yield %>

</body>
</html>


